*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    margin: 0;
}

a{
    text-decoration: none;
    color: #1F2937;
}

ul{
    text-decoration: none;
    list-style: none;
    padding: 0;
    display: flex;
    gap: 50px;
    font-size: 18px;
}

.header{
    background-color: #1F2937;
    color: white;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 0px 180px;
}

.header-logo{
    height: 125px;
    width: 200px;
}

/* Padding to add space at the side of the web site's content */
.hero{
    display: flex;
    padding: 50px 230px 100px 230px;
}

.hero-main-text{
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.hero-text,
.hero-image-container{
    flex: 1;
}

.hero-image-container{
    text-align: center;
}

.hero-image{
    width: 85%;
}

.signup-btn{
    display: inline-block;
    padding: 10px 30px;
    margin: 15px 0;
    border-radius: 8px;
    border-style: none;
    background-color: #3882F6;
    color: white;
    font-size: 18px;
    font-weight: 600;
}

.info-section{
    padding: 50px 230px 100px 230px;
    text-align: center;
}
.info-section span{
    font-size: 28px;
    font-weight: 900;
    color: #1F2937;
}
.info-container{
    display: flex;
    gap: 50px;
    padding: 50px 100px;
}

.info{
    flex: 1;
    color: #1F2937;
    font-weight: lighter;
}

.info-image-container{
    width: 150px;
    height: 150px;
    border: solid #3882F6 4px;
    border-radius: 8px;
    margin: 5px;
}

.quote-section{
    padding: 50px 350px 100px 350px;
    background-color: #e5e7eb;
}

quote{
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    text-align: center;
}

.author{
    font-weight: bold;
    font-size: 18px;
    color: #1F2937;
    text-align: end;
}